{% extends 'base.html' %}

{% block content %}

    {% if object %}
        <h1 class="">Edit My Channel</h1>
    {% else %}
        <h1 class="">Create New Channel</h1>
    {% endif %} 


    <div class="container">
        <div class="row">
            <div class="form-group col-6">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.as_p}}
                    <input class="btn btn-outline-light" type="submit" value="Submit!" style="border-radius: 4rem;">
                </form>
            </div>
        </div>
    </div>

{% endblock  %}

