{% extends 'base.html' %}
{% block content %}

<h1>LOGIN PAGE</h1>

<div class="container">
<div class="row">
  <div class="col-5">



<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control bg-primary" id="exampleInputEmail1" aria-describedby="emailHelp" style="border-radius: 4rem;" autocomplete="username">  
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control bg-primary" id="exampleInputPassword1" style="border-radius: 4rem;" autocomplete="current-password">
  </div>

  <input type="submit" class="btn btn-outline-light" value="login" style="border-radius: 4rem;">
  <input type="hidden" name="next" value="{{ next }}">

</form>
</div>
</div>
<br>
<a class="nav-link" href="{% url 'password_reset' %}" style="color: white; font-weight: 200;" >Forgot password?<span style="font-weight: 500;"> Reset it!</span></a>
<a class="nav-link" href="{% url 'signup' %}" style="color: white; font-weight: 200;" >Don't Have an Account?<span style="font-weight: 500;"> Sign Up!</span></a>
</div>

{% endblock %}




